.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
  width: 90%;
  max-width: 500px;
  height: auto;
  padding: 1rem;
}
.form svg {
  width: 50%;
  height: auto;
  padding: 0 1rem;
}